/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(128, 128, 128, 0.301);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--masonry-background);
}

:root {
  --masonry-background: black;
  --masonry-color: white;
  --primary-color: #2b2b2b;
  --secondary-color: #ececec;
  --primary-color-tint: #404040;
}

/* ****************************************************
----------------NAV FOR GALLERY------------------------
**************************************************** */

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 5rem;
  z-index: 5;
  background-color: #404040af;
  box-shadow: 0 0.4rem 0.2rem rgba(165, 165, 165, 0.24);
  overflow: visible;
  height: 5rem;
  transition: 1s;
}

/* .nav.sticky {
  background-color: #40404070;
  box-shadow: 0 0.4rem 0.4rem rgba(48, 48, 48, 0.514);
} */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(66, 66, 66);
  transition: 1.4s;
  transform: translate(0, 3rem);
}

.logo-img {
  width: 8.6rem;
  height: 8.6rem;
}

.logo-small {
  transform: scale(0.6);
}

.main-menu {
  align-self: center;
  display: flex;
  align-items: center;
}

.main-menu.show-mobile-menu {
  transform: translate(0);
  z-index: 10;
}

.menu-items {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  font-size: 2rem;
}

.nav-link:link,
.nav-link:visited {
  color: #dadada;
  text-decoration: none;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: white;
  cursor: pointer;
}

.btn-mobile {
  display: none;
  width: 6.6rem;
  border: none;
  top: 4.4rem;
  right: 4rem;

  z-index: 200;
  border-radius: 9px;
}

.btn-mobile-open {
  background-color: rgba(37, 35, 35, 0.534);
  border: 1px solid #dadadaad;
  cursor: pointer;
}

.btn-mobile-icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(145deg)
    brightness(111%) contrast(111%);
}

.btn-mobile-close {
  background-color: #ffffff00;
  display: none;
  cursor: pointer;
}

.btn-mobile-close-icon {
  filter: invert(5%) sepia(0%) saturate(2011%) hue-rotate(140deg)
    brightness(89%) contrast(82%);
}

/* ****************************************************
----------------MASONRY GRID LAYOUT-----------------
**************************************************** */

/* .gallery-header {
  font-size: 4.4rem;
  font-weight: 700;
} */
/* 
 */

.masonry-gallery {
  background-color: var(--masonry-background);
  color: var(--masonry-color);
  /* position: fixed; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  margin-top: 14rem;
  position: relative;

  /* overflow: scroll; */
}

/* .masonry-header {
  position: fixed;
  width: 100%;
  height: 7.4rem;
  background-color: rgba(31, 4, 56, 0.555);
  display: flex;
  align-items: center;
  padding: 0 2vw;
  mix-blend-mode: difference;
  z-index: 10;
  font-weight: 600;
  font-size: 4.4rem;
} */

.masonry-grid {
  position: relative;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 0 2vh 0;
  margin-bottom: 14rem;
}

.column-gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 10rem;
  /* opacity: 1; */
}

.gallery-image img {
  width: 100%;
  transition: 1s;
  opacity: 1;
}

/* img {
  width: 100%;
  transition: 1s;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.gallery-image:hover .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.gallery-image:hover .overlay img {
  opacity: 1;
}
.overlay h3 {
  font-size: 1.2rem;
}
.gallery-image:hover .overlay h3 {
  font-size: 1.2rem;
  opacity: 1;
}

.gallery-title {
  opacity: 1;
  font-size: 2rem;
}

.column-gallery-filler {
  background-color: #4d4d4d9f;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* HOME PAGE FILLER */

.back-to-home-filler:link,
.back-to-home-filler:visited,
.buy-painting-filler:link,
.buy-painting-filler:visited {
  font-size: 3rem;
  color: #dadadad3;
  font-family: inherit;
  text-decoration: none;
  transition: 0.3s;
}

.back-to-home-filler:hover,
.back-to-home-filler:active,
.buy-painting-filler:hover,
.buy-painting-filler:active {
  color: white;
}

/* HOME PAGE FILLER END */

/* SOCIAL FILLER  */

.social-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.social-icon {
  font-size: 5.2rem;
  width: 7.4rem;
  filter: invert(67%) sepia(5%) saturate(13%) hue-rotate(328deg) brightness(85%)
    contrast(98%);
  transition: 0.4s;
}

.social-icon:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(68deg)
    brightness(102%) contrast(102%);
  cursor: pointer;
}

/* SOCIAL FILLER END */

/* ****************************************************
-------------MASONRY GRID LAYOUT END----------------
**************************************************** */

/* /////////////////////////////////////////
//////////// SECTION CTA  //////////////////
///////////////////////////////////////// */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 14rem;
}

.cta-heading {
  font-size: 3.6rem;
  text-align: center;
  color: #dadadabb;
  margin-bottom: 14rem;
}

#section-contact {
}

.cta {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 63fr 37fr;
  background-color: #4d4d4d9f;
  /* padding: 5rem; */
  /* margin-bottom: 20rem; */
  box-shadow: 0 0 5rem 3rem #29292938;
  border-radius: 9px;
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 20rem;
}

.contact-heading {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: inherit;
  color: #dadada;
}

.contact-form-container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  padding: 3.2rem 8rem 4.4rem 8rem;
}

.contact-form {
  flex: 1;
  display: flex;
  font-size: 2rem;
  font-family: inherit;
  color: #dadada;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.form-input {
  padding: 1rem;
  font-size: 2rem;
  border-radius: 4px;
  border: none;
  background-color: #494949;
  box-shadow: inset 0 0 0 2px rgba(141, 141, 141, 0.247);
  margin-bottom: 1.4rem;
  color: #dadada;
}

.form-input:focus {
  /* outline: none; */
  background-color: #3f3f3f;
}

.message-area {
  font-family: inherit;
  resize: none;
  margin-bottom: 2rem;
}

.submit-btn {
  height: 6.4rem;
  font-size: 3rem;
  background-color: #008cff;

  cursor: pointer;
  border-radius: 4px;
  border: none;
  color: var(--secondary-color);
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #269af8;
}

.contact-mosaic {
  display: grid;
  grid-template-columns: 50fr 50fr;
  gap: 0.6rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.contact-photo {
}

.contact-paintings {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.contact-photo img {
  width: 100%;
  height: 100%;
  margin: 0;
  /* object-fit: cover; */
  /* overflow: hidden; */
}

.contact-mosaic-item img {
  /* overflow: hidden; */
  /* object-fit: cover; */
  display: block;
  width: 100%;
  height: 100%;
}

/* /////////////////////////////////////////
//////////// SECTION CTA END ///////////////
///////////////////////////////////////// */

/* /////////////////////////////////////////
//////////// SECTION MODAL //////////////////
///////////////////////////////////////// */

.painting-details-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.hidden {
  opacity: 0;
}

.behind {
  z-index: -5;
}

.painting-details-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.459);
  opacity: 1;
  transition: all 0.3s;
  /* backdrop-filter: blur(2px); */
}

.painting-details-background {
  width: 90%;
  height: 90%;
  background-color: #242424c7;
  padding: 0 3.2rem;
  /* backdrop-filter: blur(6px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  transform: translate(0, 3%);
}

.painting-details {
  height: 100%;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 4.4rem;
  transition: all 0.5s;
  opacity: 1;
  /* flex-grow: 0; */
}

.painting-details-container.hidden,
.painting-details.hidden,
.gallery-image img.hidden {
  opacity: 0;
}

.painting-details-name {
  font-size: 3.6rem;
  color: #dadada;
}

.painting-details-size {
  font-size: 2.4rem;
  color: #dadada;
}

.painting-details-img {
  max-height: 80%;
  max-width: 100%;
  box-shadow: 0 0 1rem 0.3rem rgba(0, 108, 250, 0.452);
  z-index: 44;
}

.painting-details-close {
  position: absolute;
  right: 1.4rem;
  top: 1.4rem;
}

.painting-details-close-icon {
  width: 5rem;
  filter: invert(70%) sepia(0%) saturate(735%) hue-rotate(213deg)
    brightness(99%) contrast(88%);
}

.painting-details-close-icon:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(301deg)
    brightness(101%) contrast(100%);
  cursor: pointer;
}

.loading-spinner {
  /* display: inline-block; */
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-spinner {
  width: 10rem;
}
.gallery-spinner {
  width: 4rem;
}

.loading-spinner img {
  filter: invert(100%) sepia(1%) saturate(1060%) hue-rotate(166deg)
    brightness(70%) contrast(71%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////////////////
//////////// SECTION MODAL END ///////////////
///////////////////////////////////////// */

/* /////////////////////////////////////////
//////////// FOOTER ////////////////////////
///////////////////////////////////////// */

footer {
  background-color: #404040af;
  padding: 2rem;
  box-shadow: 0 0 0.3rem 0.1rem #008cff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  font-family: inherit;
  font-size: 1.2rem;
  text-align: right;
  color: #dadadaa2;
}

/* /////////////////////////////////////////
//////////// FOOTER END ////////////////////
///////////////////////////////////////// */

/* /////////////////////////////////////////
//////////// MEDIA QUERIES //////////////////
///////////////////////////////////////// */

@media (max-width: 80em) {
  .container {
    max-width: 95rem;
  }

  .masonry-grid {
    margin-bottom: 8rem;
  }

  .painting-details {
    padding: 0;
  }

  .cta.container {
    grid-template-columns: 48fr 42fr;
  }

  .contact-form-container {
    padding: 3rem;
  }
}

@media (max-width: 64em) {
  .menu-items {
    gap: 2rem;
  }

  .intro-header {
    width: 100%;
    height: 100%;
    transition: 0.2s;
  }

  .gallery-link:link,
  .gallery-link:visited {
    font-size: 6rem;
  }

  .cta-heading {
    font-size: 4rem;
    padding: 0 14rem;
  }

  .contact-photo {
    display: none;
  }

  .cta-heading {
    font-size: 4rem;
    padding: 0 14rem;
  }

  .contact-photo {
    display: none;
  }

  .cta.container {
    grid-template-columns: 65fr 25fr;
    box-shadow: 0 0 2rem 1rem #0000001a;
  }

  .contact-mosaic {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .container {
    max-width: 74rem;
  }
}

@media (max-width: 52em) {
  .logo {
    position: absolute;
    top: 0rem;
    left: 4.4rem;
  }

  .main-menu {
    background-color: rgba(255, 255, 255, 0.678);
    backdrop-filter: blur(9px);
    height: 100%;
    z-index: -10;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translate(100%);
    transition: all 0.5s ease-out;
  }

  .nav {
    position: absolute;
    background-color: #00000000;
    box-shadow: none;
  }

  .btn-mobile-open {
    display: block;
    position: fixed;
  }

  .btn-mobile-close {
    position: absolute;
    display: block;
    top: 4.4rem;
    right: 4.4rem;
  }

  .menu-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    gap: 3rem;
  }

  .nav-link:link,
  .nav-link:visited {
    color: rgb(32, 32, 32);
    text-decoration: none;
    transition: all 0.3s;
  }

  .contact-form-container {
    padding: 2rem 2rem 6rem;
  }

  .masonry-grid {
    margin-bottom: 4rem;
  }

  .painting-details-background {
    padding: 0 1rem;
  }

  .painting-details-name {
    font-size: 3rem;
  }

  .painting-details-size {
    font-size: 1.8rem;
  }

  .contact-form-container {
    padding: 2rem 2rem 6rem;
  }

  .cta-heading {
    font-size: 4rem;
    padding: 0 6rem;
    margin-bottom: 4rem;
  }

  .cta.container {
    grid-template-columns: 57fr 43fr;
  }

  .contact-form-container {
    padding: 1rem;
  }

  .contact-heading {
    font-size: 2.8rem;
  }

  .footer-info {
    font-size: 1rem;
  }

  .contact-mosaic-item:last-child {
    display: none;
  }

  .container {
    max-width: 55rem;
    text-align: center;
  }
}

@media (max-width: 40em) {
  .logo {
    height: 6rem;
    width: 6rem;
    top: -1.4rem;
  }

  .logo-img {
    width: 6rem;
    height: 6rem;
  }

  .btn-mobile {
    width: 5rem;
    top: 1.6rem;
  }

  .masonry-gallery {
    margin-top: 8.6rem;
  }

  .margin-bottom-xl {
    margin-bottom: 3rem;
  }

  .cta-heading {
    font-size: 3rem;
    padding: 0 3rem;
    margin-bottom: 4rem;
  }

  .cta.container {
    display: flex;
    flex-direction: column;
    box-shadow: none;
  }

  .contact-paintings {
    display: flex;
    flex-direction: row;
  }

  .contact-mosaic-item {
    flex: 1;
  }

  .contact-form {
    gap: 0.6;
  }

  .contact-mosaic-item:last-child {
    display: block;
  }

  .container {
    max-width: 55rem;
  }
}

@media (max-width: 24em) {
  .nav-link {
    font-size: 3.6rem;
  }

  .logo {
    height: 3rem;
    width: 3rem;
    top: 0rem;
  }

  .btn-mobile {
    width: 4.4rem;
  }

  .container {
    max-width: 100%;
  }
}

@media (max-height: 50rem) and (max-width: 52rem) {
  .form-input {
    font-size: 1.6rem;
    padding: 0.8rem;
  }

  .contact-form {
    gap: 0.2rem;
  }
}

@media (max-height: 45em) {
  .painting-details-img {
    max-height: 60%;
  }
}

@media (max-height: 40rem) and (max-width: 52rem) {
  .cta {
    grid-template-columns: 85fr 15fr;
  }

  .contact-form {
    gap: 0.2rem;
  }

  .contact-heading {
    margin-bottom: 0.4rem;
  }

  .message-area {
  }

  .contact-photo {
    display: none;
  }

  .form-input {
    font-size: 1.6rem;
    padding: 0.8rem;
  }

  .contact-mosaic-item:last-child {
    display: none;
  }

  .cta {
    grid-template-columns: 85fr 15fr;
  }

  .contact-mosaic {
    grid-template-columns: 1fr;
    align-items: center;
  }
}

@media (max-height: 35rem) {
  .nav {
    background-color: #ffffff00;
    box-shadow: none;
  }

  .main-menu {
    background-color: rgba(233, 233, 233, 0.884);
    backdrop-filter: blur(19px);
    height: 100%;
    z-index: -10;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translate(100%);
    transition: all 0.5s ease-out;
  }

  .btn-mobile {
    width: 5rem;
  }

  .btn-mobile-open {
    display: block;
    position: fixed;
    cursor: pointer;
  }

  .btn-mobile-close {
    position: absolute;
    display: block;
    top: 4.4rem;
    right: 4.4rem;
    cursor: pointer;
  }

  .menu-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    justify-content: center;
    align-items: center;
    font-size: 4.4rem;
    gap: 3rem;
  }

  .nav-link:link,
  .nav-link:visited {
    color: rgb(32, 32, 32);
    text-decoration: none;
    transition: all 0.3s;
  }

  .nav-link-home {
    margin-right: 0;
  }

  .header-name {
    gap: 2rem;
  }

  .logo {
    position: absolute;
    top: -1.4rem;
  }

  .logo-img {
    /* width: 16rem; */
    margin-bottom: 0;
  }
  .name {
    font-size: 7.4rem;
  }
  .contact-mosaic-item:last-child {
    display: none;
  }

  .contact-photo {
    display: none;
  }
}

@media (max-height: 35rem) and (max-width: 52rem) {
  .header-name {
    gap: 1rem;
  }

  .name {
    font-size: 5.4rem;
  }

  .main-menu {
    padding: 3rem;
  }

  .menu-items {
    gap: 0;
  }

  .nav-link {
    font-size: 3rem;
  }
}

@media (max-height: 30rem) {
  .logo-img {
  }

  .name {
    font-size: 4.4rem;
  }

  .portfolio {
    font-size: 2.4rem;
  }

  .menu-items {
    gap: 0rem;
  }
}

/* ////////////////////////////////////
//////////////////////////////////// */
